// footer  ("/groups")

.navigation {
    position: relative;
    width: 100%;
    // margin: 0 80px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px -10px 0 0 black;

    @media (min-width:992px) {
        width: 400px;
    }


    ul {
        display: flex;
        width: 350px;
        padding: 0px !important;
        margin: 0px !important;

        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    transition: 0.5s;
                    color: black;
                }

                .text {
                    position: absolute;
                    color: black;
                    font-weight: 500;
                    font-size: 0.75em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }
            }
        }

        .indicator {
            position: absolute;
            top: -50%;
            width: 70px;
            height: 70px;
            background: #00FF7F;
            border-radius: 50%;
            border: 6px solid black;
            transition: 0.5s;
        }

        .indicator::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -22px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-right-radius: 20px;
            box-shadow: 1px -10px 0 0 black;
        }

        .indicator::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -22px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-left-radius: 20px;
            box-shadow: -1px -10px 0 0 black;
        }
    }
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li:nth-child(1).active~.indicator::before {
    content: none;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

.navigation ul li:nth-child(5).active~.indicator::after {
    content: none;
}



// /////////////////////////////////////////////
//  GROUPS "/"

//////////////
// CALENDARRR

.p-calendar {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    width: 100%;

    @media (min-width:992px) {
        z-index: 2;
    }
}

.p-datepicker {
    border: none;
    background: #1d1d1d;
    min-height: 357px;
    width: 100%;

    .p-yearpicker {
        .p-yearpicker-year {
            margin: 7px auto !important;
        }
    }

    .p-monthpicker {
        .p-monthpicker-month {
            margin: 12px auto !important;
        }
    }
}

.p-datepicker-header {
    button {
        svg {
            color: #00FF7F;
            scale: 1.3;
        }
    }

    .p-datepicker-title {
        .p-datepicker-month {
            font-size: 19px;
        }

        .p-datepicker-year {
            color: #00FF7F;
            font-size: 17px;
        }
    }
}

.p-datepicker-calendar-container {

    .p-datepicker-calendar {
        thead {
            tr {
                color: #00FF7F;

                th {
                    text-align: center !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    @media (min-width:992px) {
                        scale: 1.2;
                    }

                    span {
                        background-color: #4e4f51;
                        margin: 2px auto !important;
                        border-radius: 0% !important;
                        color: white !important;

                        .metaFalse {
                            background-color: black;
                            border: 3px solid #00FF7F;
                            color: #00FF7F !important;
                            font-weight: 500;
                            display: flex;
                            height: 100%;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                .p-datepicker-today {
                    span {
                        box-shadow: 0 8px 24px 0 #00ff804e;
                        border-bottom: 1px solid #00FF7F;

                        .metaFalse {
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}

.p-datepicker table td>span.p-highlight {
    border: 2px solid white !important;
    background: none !important;
}

.p-datepicker table td>span:focus {
    box-shadow: none !important;
}

.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
    box-shadow: none !important;
}

.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
    box-shadow: none !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
    color: black !important;
}

.p-datepicker-group-container{
    overflow-x: hidden;
}






// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////

// PRIMEREACTTT TABELA
.tabela {
    background-color: transparent;
    padding: 1px;
    border: none;

    @media (min-width:992px) {
        margin-bottom: 120px;
    }
}

.p-datatable-thead {

    tr {
        th {
            background-color: #363636 !important;

            .p-column-title {
                color: white;
                font-family: monospace;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    text-align: center;
                    padding: 0 10px;
                    width: 60px;

                    span {
                        font-size: 27px;
                    }

                    p {
                        margin: 0;
                        white-space: nowrap;

                    }
                }
            }
        }
    }
}


.p-datatable-tbody {
    tr {
        background-color: transparent !important;
        background: #1d1d1d !important;
        color: rgba(255, 255, 255, 0.595);
        font-family: monospace;

        td {}
    }
}

.p-datatable-wrapper::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.p-datatable-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.p-datatable-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #00FF7F;
}

.p-datatable-tfoot {
    tr {

        td {
            background-color: #363636 !important;
            color: white;
            font-family: monospace;
            padding: 11px 16px !important;
        }
    }
}

.cursorGreen {
    color: #00FF7F;
    cursor: pointer;
}