// @media (max-width: 385px) {
//     padding: 0px 30px;
// }

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://unicons.iconscout.com/release/v2.1.9/css/unicons.css');


.full-height {
    height: 100%;
    overflow: hidden;
    margin: 0px;
    width: 100%;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.col-12 {
    padding: 0px 0px 0px 0px !important;
    width: 100%;
    height: 100%;
}

.mb-0.pb-3 {
    padding: 0px 0px 0px 0px !important;
}

.singUp {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00FF7F;
}

.singUp::before {
    width: 18px;
    height: 18px;
}

.singUp::after {
    width: 18px;
    height: 18px;
    animation: pulse33 1s linear infinite;
}

.singUp::before,
.singUp::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00FF7F;
}

@keyframes pulse33 {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #00ff7f;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #00FF7F;
    background-color: black;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;

    height: 600px;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    // margin-top: 60px;
    margin-top: 20px;

    @media (max-width: 432px) {
        height: 530px;
    }
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;

    // border: 3px solid;
    // border-radius: 55px;

    background-color: #161616;
    box-shadow: 0px 15px 60px #00FF7F;
    outline: 1px solid #2b9962;
    border-radius: 10px;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    // background-color: #2a2b38;
    // background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    // background-position: bottom center;
    // background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    --s: 200px;
    /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;

    @media (max-width: 366px) {
        padding: 0px 20px;
    }
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

    select {
        color: #a9a8af;
        font-weight: 100 !important;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAg1JREFUSEvtk0+ITVEcxz/feUNWFkpZyEqSYmWD7GkyRTMlI9lgg5SxNO/3nqzMZmIzzWaa/JlSaDSlWClkrV4WFhaUUhZKMWbezzvvHrzHc+99d2QW3l3d7jnn9znfP1es0KMV4tID/zPne1Z3ttptLbKPuXLIuTfbai9vAp6Dj6LqjVS4j42AxmFxJ7r8Nm1vOtiHS7CtBmwBOdRHUPVWx4FuR4Dr4GFmDWo70O2lP8FzKLZjwHQyUGHQIWRzbQPdhoBZ8FJyQY4jmymu+PtJt8MN1TejmkXQAWQPmstug8CdCA0XO4psNqsP2Yrb4cHKErAA2g+sBr8P9Cdu1IdR9W4WNKznByfqWizlM6gEvipGMITsXh5oPrDbGmAOls6jSy/wsQFQAPQnEH2F+kFUnccvbofSFWAQ2ULxjN36wOeBfcAH0B5kLxN4X7S0PoCqD3HbCv4EWAcKa8GBerFWe4iiPA2EZgd174HdyF5F+BdkjxIoj8HXR9AMVBrNJjS845Od8W9w3oF2IXsdW70ZePoTqimwU2nQfBk3SxWU2yT4iXj9N6C9ybs/AzZER6aQncxTsGzFrVO8PNHI+mz8FBSHgm2M0Alk5/JA8ytuh18FTv8CuIYqZ/JCi4Gb7pbDLzMaQeOocqEbaHHwD7g+IbNuocsDF6G1nOmuXMuEtR7vgf+imemj/j+rvwGvjJofneKqrgAAAABJRU5ErkJggg==) no-repeat right black;
        -webkit-appearance: none;
        background-position-x: 96%;
    }

    option {
        color: #a9a8af;
        background-color: black;
    }

    option:nth-child(1n) {
        color: #00FF7F;
    }


    input[type=number]::-webkit-inner-spin-button {
        all: unset;
        // min-width: 21px;
        min-width: 11px;
        min-height: 45px;
        min-height: 55px;
        margin: 0;
        opacity: 0;
        padding: 0px 0px;
        // min-width: 50px;
        min-height: 85px;
        background-image:
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAe9JREFUSEvtlj9IVXEUxz/HKFwclBpMcBZr0KVNCISClgoxxNUhEIcGg2p499xnBJFBNiRES4ODgeBmQYRQY4NBuzSnkWA0JO/kvff3Xu9d7/vH7+Kj6G738v3ezznfc/ndI3Tokg5xaQy2O71wagS6zgGnWyxyB/gMbCH6vZ4nG2x6FuwpMNEirI5MVoE5RKNiaq6jYNNh4C1Yvx+07JZtOBhH7m9Xv68WbMEgyEewM060BvIM0XdtFWGFcZC5w7ivJb4IzoXqzlNgXQe7mohtHik+bguYFlshAFH3+DkS3qzkUNHG3fLFVbiK6JQXtGw2fQ12GeQX7Pciiz/iDP6ACzMgL5L70giy8CkfcHAJeONSvIIUN9LguyAPXMcnEC3lA9Y+sF0HvoUUl1JgVbAg+RbCfA8WC8w1FB6OPJ55VdT/wakJm15saeaim0d0XlFXzE3wWd/HXwruVNQtDbiOyCvqfxE8D/bInTA9iO77NFnjbRx1YRLklTOMIeGHYwLHh/lXoAtYR8LrxwOOKBasANMu7tuILuYCbxh1DI6WPKLVp7xvrUFpCVl471VAU3ACH3LL3oAXLNMsGb/FaqHd64eTT4Ab+cJtFiku1/6PswjxQt89CpwH+jyL+AY/XyIP95qDPUmN7PmuOG0U+huJ2OAfq6ilTgAAAABJRU5ErkJggg==),
            url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAhxJREFUSEvtl71rFGEQh59JQLBRL2ihhX+ANldpawhEtIloY2chGIQUit/N7tz5heAHsbBQsU8h2qkg6h9gYdBKkGArKiqxEM+Mub25c3e93du71UQhb3e3877PzG9m3tkVlmnJMnHJB9vpCqyqwtBWYH1BJ98Dr4AXiH7K2tMdbLoJ7DqwryAsw0xmgClEm84k1u9g0y3AY7CN5aDt3TIHjTHk3Fz8vCTYws0gz8E2uNFdkBuIPunLCQvGQKYW5d7T2teEsy0eeQqs98EmWsZ2HKlf6QuYNrYgBFH/+yZSm+zo0LGNouWteziD6P5S0PZm04dgO0G+w3wFufw10uAXODgIcrv1e6GKnJ3NBJuuA6r+PLd6sXAceOQq7kbqD9LgMyAXPOJhRBdywDvAnrrtKKLPcmxHwD44+AhSn06BVcHCVi3UevS3FgdH5RKaO1lbTHmU85jUK2DPWrKQ2qmsgl1z+Y5G12NyJQtuIKktns+iDSbJgvvfwPGeXUKpu6mbkD8la1f7lXZaigvEdA3YZ2+9Y4heLXNz9TEkglEQn+e2F6nfGxxctJ1b93RzMjUnVAOkguj83wdbeAk46TLfQvRQ2+fBhkSviC2YgKFJsF0OfQPftiMXfTxmFVevg/t7/hoa48h5f7txVzpnWHA4erH7s+sOyAlEP6aPjUl9ai2sPgCMlGS/gx8vYXgW0S9ZZ/2jnzAlQ8/b/hONNiAupZwkCgAAAABJRU5ErkJggg==);
        background-size: 27px, 27px;
        background-position: 0px, 21px;
        cursor: pointer;
        background-repeat: no-repeat;
        // background-position-x: 50%;
        // background-position-y: 10%;
    }

    input:focus::-webkit-inner-spin-button {
        opacity: 1 !important;
        min-width: 50px !important;
    }

    p {
        color: white;
    }
}


//  PRIME REACT
.p-password-input {
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #00FF7F;
    background-color: black !important;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
    padding: 0px;
}

.p-password {
    &>svg {
        color: #00FF7F !important;
    }
}


.formflex {
    display: flex;
    flex-direction: row;
    gap: 18px;
    width: 100%;
    justify-content: space-between;

    &>.form-group {
        width: 50%;
    }
}


.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #00FF7F;
    background-color: #1f2029;
    background-color: black;
    border: 1px solid #00ff7f !important;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);

    .p-icon-field {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;

        &>span {
            position: unset !important;
            margin: 0;
        }
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: #00ff7f !important;
    transition: background-color 5000s ease-in-out 0s;
}


.form-style.pd {
    padding: 13px 10px 13px 55px;
}

.form-style.active {
    color: #00FF7F;
}


.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #00FF7F;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.input-icon.uil::before {
    margin: 0px !important;
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    color: #00FF7F;
    background-color: black;
    box-shadow: 0 8px 24px 0 #00ff804e;

    border: 2px solid #00FF7F;
    text-rendering: optimizeLegibility !important;
}


.btn:hover {
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
    transition: all ease-in-out .3s;
    background-color: #00FF7F;
    color: black;
    cursor: pointer;
}

#bar {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 28px;
    height: 8px;
    margin-left: -33px;
    background-color: #00FF7F;
    border-radius: 10px;
}

#bar:before,
#bar:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ececec;
    border-radius: 50%;
}

#bar:before {
    right: -20px;
}

#bar:after {
    right: -38px;
}

//   ////////////// PRA CIMA CARD LOGIN . SCSS





















// ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// @import './reset.scss';
// ////////////
// @import './global.scss';
@import './typograph.scss';
// @import './grid.scss';
// ajeitar grid !!

select {
    border: none;
}

@import './input.scss';
@import './buttons.scss';

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

// //////////////////////////////////////////////////////////
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @layer base {
//     :root {
//         --background: 0 0% 100%;
//         --foreground: 222.2 84% 4.9%;

//         --card: 0 0% 100%;
//         --card-foreground: 222.2 84% 4.9%;

//         --popover: 0 0% 100%;
//         --popover-foreground: 222.2 84% 4.9%;

//         --primary: 222.2 47.4% 11.2%;
//         --primary-foreground: 210 40% 98%;

//         --secondary: 210 40% 96.1%;
//         --secondary-foreground: 222.2 47.4% 11.2%;

//         --muted: 210 40% 96.1%;
//         --muted-foreground: 215.4 16.3% 46.9%;

//         --accent: 210 40% 96.1%;
//         --accent-foreground: 222.2 47.4% 11.2%;

//         --destructive: 0 84.2% 60.2%;
//         --destructive-foreground: 210 40% 98%;

//         --border: 214.3 31.8% 91.4%;
//         --input: 214.3 31.8% 91.4%;
//         --ring: 222.2 84% 4.9%;

//         --radius: 0.5rem;
//     }

//     .dark {
//         --background: 222.2 84% 4.9%;
//         --foreground: 210 40% 98%;

//         --card: 222.2 84% 4.9%;
//         --card-foreground: 210 40% 98%;

//         --popover: 222.2 84% 4.9%;
//         --popover-foreground: 210 40% 98%;

//         --primary: 210 40% 98%;
//         --primary-foreground: 222.2 47.4% 11.2%;

//         --secondary: 217.2 32.6% 17.5%;
//         --secondary-foreground: 210 40% 98%;

//         --muted: 217.2 32.6% 17.5%;
//         --muted-foreground: 215 20.2% 65.1%;

//         --accent: 217.2 32.6% 17.5%;
//         --accent-foreground: 210 40% 98%;

//         --destructive: 0 62.8% 30.6%;
//         --destructive-foreground: 210 40% 98%;

//         --border: 217.2 32.6% 17.5%;
//         --input: 217.2 32.6% 17.5%;
//         --ring: 212.7 26.8% 83.9%;
//     }
// }

// @layer base {
//     * {
//         @apply border-border;
//     }

//     body {
//         @apply bg-background text-foreground;
//         // @apply bg-background text-foreground dark;
//     }
// }




///////////////////////////////////////////
// btn container que vai pro lado = OPTIONS

.modalFixed {
    position: fixed;
    z-index: 3;
    right: 0px;
    bottom: 0px;
}

.p-speeddial-button {
    border-radius: 50%;
    color: #00FF7F;
    background-color: black;
    border: 1px solid #00FF7F !important;

    img {
        width: 33px;
    }
}

.p-speeddial-opened .p-speeddial-rotate {
    transform: rotate(90deg) !important;
}

button:focus {
    outline: none !important;
}

.p-button:focus {
    box-shadow: none !important;
}

// icon
.p-speeddial-action {
    color: #00FF7F;
    scale: 1.4;

    :hover {
        scale: 1.1;
        transition: all 400ms ease-out;
    }

    ::before {
        background-color: black;
        padding: 9px;
        border-radius: 50%;
    }
}

.p-speeddial-item {
    :hover {
        color: #00FF7F;
        text-decoration: none;
        list-style: none;
        border: none;
    }
}

/////////////
/// /////////////
//////////////// aberto: 


.p-sidebar {
    width: 85%;
    background-color: #1d1d1d;
    color: white;

    .p-sidebar-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.431);

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 35px;
                object-fit: cover;
            }

            span {
                color: #00FF7F;
                font-weight: 700;
                font-size: 22px;
                padding-left: 2px;
                letter-spacing: 1px;
                padding-top: 10px;
            }
        }

        .p-sidebar-icons {
            button {
                color: white;
                border: 1px solid #00FF7F;
                border-radius: 50%;
            }
        }
    }

    .p-sidebar-content {
        padding-top: 26px;
        max-height: 86vh;

        .userOff {
            display: flex;
            flex-direction: column;
            gap: 0px;
            font-family: monospace;

            div {

                // .wrapper
                span {
                    color: #00FF7F;
                }
            }
        }

        .userON {
            display: flex;
            flex-direction: column;
            height: 100%;
            font-family: monospace;

            .divU {
                display: flex;
                flex-direction: column;

                h2 {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    span {
                        color: #00FF7F;
                    }
                }

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 11px;
                    justify-content: center;

                    span {
                        color: #00FF7F;
                    }
                }
            }

            .w-full {
                margin: 0 !important;
                padding: 0 !important;
                background-color: transparent;
                border: none;
                overflow-y: auto;
                height: 500vh;
                padding-top: 15px !important;
                font-family: monospace;

                .p-tree-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                .p-treenode {
                    .p-treenode-children {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .p-treenode-leaf {
                            box-shadow: -10px 3px 0px 0px rgba(0, 255, 128, 1);
                            border-radius: 10px;
                            padding-bottom: 0px;

                            .p-treenode-content {
                                display: flex;
                                flex-direction: row-reverse;
                                justify-content: flex-end;
                                padding-left: 25px;
                                padding-bottom: 14px;
                            }
                        }
                    }
                }

                .p-treenode-content {
                    background-color: none;
                    border: none;

                    button {
                        background-color: transparent;
                        border: none;
                        color: #00FF7F !important;
                    }

                    .p-treenode-label {
                        pointer-events: none;

                        b {
                            span {
                                display: flex;
                                font-weight: 500;
                                font-size: 18px;
                                letter-spacing: 0.5px;
                                flex-direction: row-reverse;
                                align-items: center;
                                gap: 9px;
                                color: #00FF7F;

                                p {
                                    color: rgb(129, 147, 174);
                                    margin: 0;
                                    font-family: "Inter var", sans-serif;
                                }
                            }
                        }

                        button {
                            pointer-events: all !important;
                        }

                        a {
                            color: #00FF7F !important;
                            word-break: break-word;
                            pointer-events: all !important;
                            text-decoration: none;
                        }
                    }
                }


            }

            .w-full::-webkit-scrollbar {
                width: 1px;
            }

            .w-full::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 20px;
            }

            .w-full::-webkit-scrollbar-thumb {
                background-color: transparent;
                border-radius: 20px;
                border: 3px solid #00FF7F;
            }


            .deslogBtn {
                text-decoration: none;
                background-color: transparent;
                display: flex;
                height: 100%;
                align-items: center;
                list-style: none;
                justify-content: center;
                border-top: 1px solid white;
                color: rgb(129, 147, 174);
                cursor: pointer;

                button {
                    border: none;
                }
            }
        }



    }
}

// / userOff , = LogIn SingUp
.wrapper {
    display: flex;
    gap: 10px;
    padding-top: 82px;
}

.wrapper>div {
    text-align: center;
}

.wrapper>div+div {
    border-inline-start: 1px solid #d6cfcf;
    padding-inline-start: 15px;
}

.wrapper>div>p {
    margin-top: 15px;
    max-width: 200px;
}

.wrapper a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #00FF7F;
    position: relative;
    text-decoration: none;
}

.data-tooltip::before,
.data-tooltip::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.2s ease;
}

.data-tooltip::before {
    content: attr(data-tooltip-content);
    width: fit-content;
    font-size: small;
    font-weight: 600;
    background-color: inherit;
    padding: 3px 10px;
    border-radius: 4px;
    bottom: calc(100% + 5px);
}

.data-tooltip::after {
    content: "";
    border-top: 5px solid #191919;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: calc(100% + 1px);
}

.data-tooltip:hover::before,
.data-tooltip:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


























// PRIME REATCCCC ABOUTTTTTTT ("/")

//////////////////////////////////////////////
// CARD

// //////////////////////////////////////////////
// 123 cima

.steps {
    border: 2px solid #00FF7F;
    background-color: #1d1d1d;
    border-radius: 10px;

    .p-stepper {
        gap: 7px;
        padding: 11px 4px;
        height: 75vh;
        font-family: monospace;

        .p-stepper-toggleable-content {
            padding: 0;
        }
    }
}

.p-stepper-nav {
    margin: 0px;
}

.p-stepper-header {
    button {
        background-color: #1d1d1d;
        color: white !important;

    }
}

.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
    background-color: #00FF7F;
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    background-color: #00FF7F;
    color: black;
    border-color: black;
}

// content
.p-stepper.p-stepper-vertical .p-stepper-toggleable-content {
    background-color: #1d1d1d;
    color: white !important;
    border-radius: 10px;

    div {
        span {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }

    .cta {
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .cta span {
        padding-bottom: 7px;
        letter-spacing: 4px;
        font-size: 14px;
        padding-right: 15px;
        text-transform: uppercase;
    }

    .cta svg {
        transform: translateX(-8px);
        transition: all 0.3s ease;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active svg {
        transform: scale(0.9);
    }

    .hover-underline-animation {
        position: relative;
        color: #00FF7F;
        padding-bottom: 20px;
    }

    .hover-underline-animation:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .cta:hover .hover-underline-animation:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }


    // //////////////////////////////

    .p-button {
        position: relative;
        margin: 0;
        padding: 0.8em 1em;
        outline: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        background-color: black;
        border-radius: 10px;
        color: #00FF7F;
        font-weight: 300;
        font-size: 18px;
        font-family: inherit;
        z-index: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

    }

    .nextBackBtn:hover {
        animation: sh0 0.5s ease-in-out both;
    }

    .nextBackBtn:hover span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
    }

    .nextBackBtn::before,
    .nextBackBtn::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fff;
        opacity: 1;
        z-index: -1;
        transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
        transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    .nextBackBtn:hover::before,
    .nextBackBtn:hover::after {
        opacity: 0.65;
        transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.1s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    .nextBackBtn:hover::before {
        transform: translate3d(50%, 0, 0) scale(0.9);
    }

    .nextBackBtn:hover::after {
        transform: translate(50%, 0) scale(1.1);
    }
}


@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.stepsBtnDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start !important;
    gap: 13px;
}

// ////////////////////////////////////////////
// ///////////////////////////////////
// baixo

.p-fieldset-legend.p-unselectable-text {
    padding: 18px 30px;
    border: 1px solid #00FF7F;
    margin-left: 18px;
    margin: 0 auto;
    width: auto;
    background-color: #1d1d1d;
    font-family: monospace;

    .p-fieldset-legend-text {
        display: flex;
        flex-direction: row;
        align-items: center;

        &>p {
            color: #00FF7F;
            margin: 0;
            padding-right: 14px;
        }

        &>img {
            height: 30px;
            object-fit: cover;
        }

        &>span {
            color: #00FF7F;
            margin: 0;
            letter-spacing: 2px;
            padding-left: 3px;
        }
    }
}

.p-fieldset.p-component {
    border: 2px solid #00FF7F;
    background-color: #1d1d1d;
    color: white;
    font-family: monospace;

    font-size: 17px;
}

// /////////////////
// // //////////////////////////////////////////////,













// ////////////////////////////////////////////////
// ////////////////////////////////////////////////
// ////////////////////////////////////////////////
// ////////////////////////////////////////////////
// ////////////////////////////////////////////////
// FOOTER  

/* Input container */
// .input-container {
//     position: relative;
//     // margin: 20px;
// }

// /* Input field */
// .input-field {
//     display: block;
//     width: 100%;
//     padding: 10px;
//     font-size: 16px;
//     border: none;
//     border-bottom: 2px solid #ccc;
//     outline: none;
//     background-color: transparent;
//     color: white;
// }

// /* Input label */
// .input-label {
//     position: absolute;
//     top: 0;
//     left: 0;
//     font-size: 16px;
//     color: rgba(204, 204, 204, 0);
//     pointer-events: none;
//     transition: all 0.3s ease;
// }

// /* Input highlight */
// .input-highlight {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 2px;
//     width: 0;
//     background-color: #00FF7F;
//     transition: all 0.3s ease;
// }

// /* Input field:focus styles */
// .input-field:focus+.input-label {
//     top: -20px;
//     font-size: 12px;
//     color: #00FF7F;
// }

// .input-field:focus+.input-label+.input-highlight {
//     width: 100%;
// }

// /////////////////////////













////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// footer  ("/groups")

.navigation {
    position: relative;
    width: 100%;
    // margin: 0 80px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px -10px 0 0 black;

    @media (min-width: 460px) {
        width: 400px;
        margin: 0;
        background-color: red;
    }

    ul {
        display: flex;
        width: 350px;
        padding: 0px !important;
        margin: 0px !important;

        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;
                font-weight: 500;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    transition: 0.5s;
                    color: black;
                }

                .text {
                    position: absolute;
                    color: black;
                    font-weight: 500;
                    font-size: 0.75em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }
            }
        }

        .indicator {
            position: absolute;
            top: -50%;
            width: 70px;
            height: 70px;
            background: #00FF7F;
            border-radius: 50%;
            border: 6px solid black;
            transition: 0.5s;
        }

        .indicator::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -22px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-right-radius: 20px;
            box-shadow: 1px -10px 0 0 black;
        }

        .indicator::after {
            content: '';
            position: absolute;
            top: 50%;
            right: -22px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-left-radius: 20px;
            box-shadow: -1px -10px 0 0 black;
        }
    }
}

.navigation ul li.active a .icon {
    transform: translateY(-32px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.navigation ul li:nth-child(1).active~.indicator::before {
    content: none;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}

.navigation ul li:nth-child(5).active~.indicator::after {
    content: none;
}















// /////////////////////////////////////////////
//  GROUPS "/"

//////////////
// CALENDARRR

.p-calendar {
    position: relative;
    display: inline-flex;
    max-width: 100%;
    width: 100%;
}

.p-datepicker {
    border: none;
    background: #1d1d1d;
    min-height: 357px;
    width: 100%;

    .p-yearpicker {
        .p-yearpicker-year {
            margin: 7px auto !important;
        }
    }

    .p-monthpicker {
        .p-monthpicker-month {
            margin: 12px auto !important;
        }
    }
}

.p-datepicker-header {
    button {
        svg {
            color: #00FF7F;
            scale: 1.3;
        }
    }

    .p-datepicker-title {
        .p-datepicker-month {
            font-size: 19px;
        }

        .p-datepicker-year {
            color: #00FF7F;
            font-size: 17px;
        }
    }
}

.p-datepicker-calendar-container {

    .p-datepicker-calendar {
        thead {
            tr {
                color: #00FF7F;

                th {
                    text-align: center !important;
                }
            }
        }

        tbody {
            tr {
                td {
                    span {
                        background-color: #4e4f51;
                        margin: 2px auto !important;
                        border-radius: 0% !important;
                        color: white !important;

                        .metaFalse {
                            background-color: black;
                            border: 3px solid #00FF7F;
                            color: #00FF7F !important;
                            font-weight: 500;
                            display: flex;
                            height: 100%;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

                .p-datepicker-today {
                    span {
                        box-shadow: 0 8px 24px 0 #00ff804e;
                        border-bottom: 1px solid #00FF7F;

                        .metaFalse {
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
}

.p-datepicker table td>span.p-highlight {
    border: 2px solid white !important;
    background: none !important;
}

.p-datepicker table td>span:focus {
    box-shadow: none !important;
}

.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
    box-shadow: none !important;
}

.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
    box-shadow: none !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
    color: black !important;
}










// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////
// ///////////////////////////////////////////////////////////////

// PRIMEREACTTT TABELA
.tabela {
    background-color: transparent;
    padding: 1px;
    border: none;
}

.p-datatable-thead {

    // z-index: 3 !important;
    tr {
        th {
            background-color: #363636 !important;

            .p-column-title {
                color: white;
                font-family: monospace;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    text-align: center;
                    padding: 0 10px;
                    width: 60px;

                    span {
                        font-size: 27px;
                    }

                    p {
                        margin: 0;
                        white-space: nowrap;

                    }
                }
            }
        }
    }
}


.p-datatable-tbody {
    tr {
        background-color: transparent !important;
        background: #1d1d1d !important;
        color: rgba(255, 255, 255, 0.595);
        font-family: monospace;

        td {}
    }
}

.p-datatable-wrapper::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.p-datatable-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

.p-datatable-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #00FF7F;
}

.p-datatable-tfoot {
    tr {

        td {
            background-color: #363636 !important;
            color: white;
            font-family: monospace;
            padding: 11px 16px !important;
        }
    }
}

.cursorGreen {
    color: #00FF7F;
    cursor: pointer;
}