@import './login.scss';
// @import './reset.scss';
@import './typograph.scss';

select {
    border: none;
}

@import './input.scss';
@import './buttons.scss';

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

@import './modalAside.scss';
@import './aboutDiv.scss';
@import './groups.scss';

@import './loader.scss';
@import './preLoad.scss';

