
.divPreLoad {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader1 {
    display: flex;
    min-height: 13vh;
    align-items: center;
    justify-content: center;
    background: transparent;
    flex-direction: column;
    width: 100%;
    padding: 0px 76px;
    margin-left: 15px;
    scale: 2;
}

.spining {
    height: 1.5rem;
    width: 1.5rem;
    animation: spin 1s linear infinite;
    stroke: black;
}

.loading-text {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: black;
    width: 100%;
    text-align: center;
    padding: 2px 15px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


// /////////////////////////////////////////

.eye1 {
    width: 20px;
    height: 8px;
    background-color: rgba(240, 220, 220, 1);
    border-radius: 0px 0px 20px 20px;
    position: relative;
    left: 10px;
    top: 40px;
    box-shadow: 40px 0px 0px 0px rgba(240, 220, 220, 1);
}

.head1 {
    backface-visibility: hidden;
    position: relative;
    margin: -250px auto;
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50px;
    box-shadow: inset -4px 2px 0px 0px rgba(240, 220, 220, 1);
    animation: headAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
}

.body1 {
    position: relative;
    margin: 90px auto;
    width: 140px;
    height: 120px;
    background-color: #111;
    border-radius: 50px/25px;
    box-shadow: inset -5px 2px 0px 0px rgba(240, 220, 220, 1);
    animation: bodyAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
}

@keyframes headAnim {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

@keyframes bodyAnim {
    0% {
        top: -5px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: -5px;
    }
}

.circ1 {
    backface-visibility: hidden;
    margin: 60px auto;
    width: 180px;
    height: 180px;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    z-index: -1;
    left: 0%;
    top: 20%;
    overflow: hidden;
}

.hands1 {
    margin-top: 140px;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: #111;
    border-radius: 20px;
    box-shadow: -1px -4px 0px 0px rgba(240, 220, 220, 1);
    transform: rotate(45deg);
    top: 75%;
    left: 16%;
    z-index: 1;
    animation: bodyAnim 1.5s infinite alternate;
    animation-timing-function: ease-out;
}

.load1 {
    position: absolute;
    width: 7ch;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin: -10px auto;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: black;
    left: 2%;
    top: 5%;
    animation: fontAnim 3.75s infinite;
    animation-timing-function: ease-out;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
}

@keyframes fontAnim {
    0% {
        width: 7ch;
    }

    16% {
        width: 8ch;
    }

    32% {
        width: 9ch;
    }

    48% {
        width: 10ch;
    }

    64% {
        width: 11ch;
    }

    80% {
        width: 12ch;
    }

    100% {
        width: 13ch;
    }
}